.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  right: 2em;
  bottom: 1em;
}


.social-btn {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 15px;
  width: 15px;
}

span {
  font-size: 14px;
  font-weight: 500;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  /* margin-left: 5px; */
}

.social-btn:hover {
  width: 120px;
  border-radius: 5px;
}

.social-btn:hover span {
  width: 75px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}




/* Mobile styles */
@media (max-width: 480px) {
  .head {
    left: 0;
    right: 0;
    margin: auto;
    /* width: 50%; */
    bottom: 12px;
  }
}



.docs {
  left: 2em;
  top: 1em;
}
.converted-class {
  cursor: pointer;
  background-color: white;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  ring-offset-background: initial;
  transition-property: color, background-color, border-color;
  height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.converted-class:focus-visible {
  outline: none;
  ring-width: 2px;
  ring-color: var(--ring-color);
  ring-offset-width: 2px;
}

.converted-class:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.converted-class:hover {
  background-color: #F5F5F5;
  color: #60A5FA;
}